{% extends "MytripPaymentBundle::layout.html.twig" %}

{% block title "Payment demo - Simple purchase with Paypal Express Checkout - Prepare" %}

{% block content %}
    <p>
        This is a simple example with minimal amount of code and config.
        

        Don't forget to check <a href="#whats-inside?">what's inside</a>
    </p>

    <hr />

    <form method="POST">
        {{ form_widget(form) }}

        <input type="submit" value="Pay" />
    </form>
{% endblock %}

{% set code = code(_self, paymentName) %}